* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #111111;
    font-family: 'Candara', 'Roboto', sans-serif;
}

.cab {
    height: 60px;
}


#nombre {
    color: white;
    font-size: 30px;
    margin-left: 20px;
    margin-top: 10px;
    float: left;
}

#titulo {
    color: white;
    font-size: 20px;
    margin-left: 10px;
    margin-top: 30px;
    float: left;
}

.caja-bot {
    float: right;
    margin-right: 20px;
    margin-top: 30px;
}

.caja-bot ul li {
    display: inline-block;
    list-style-type: none;
    margin-left: 40px;
    font-size: 20px;

    text-decoration: none;
}

.caja-bot ul li a {
    color: white;
    text-decoration: none;
}

.caja-bot ul li a:hover {
    color: rgb(139, 31, 31);
}
.caja-bot ul li a:active {
    color: rgb(139, 31, 31);
}