* {
    margin: 0px;
}
body {
    background-image: url('../img/fondo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    
    color: #fff;
    margin: 0px;

}
.cabecera {
    background-color: #020202 ;
    opacity: 0.8;
    text-align: center;


}
.cabecera section {
    background-color: #020202;
    color: #d8db0d;
    font-size: 30px;
    font-family: Arial;
    padding: 10px;
}
.barra-navegacion{
    text-align: center;
    padding: 20px;
    margin:0px;
    border: solid 1px #d8db0d;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    background-image: url('https://fondosmil.com/fondo/28454.jpg');

}
.barra-navegacion a {
    margin: 50px;
    color: #0c6410;
    text-decoration: none;
    font-size: 20px;
    background-color: #ffffff;
    padding: 10px;
    padding-right: 50px;
    padding-left: 50px;
    border-radius: 600px;
}
.barra-navegacion a:hover {
    background-color: #d8db0d;
    color: #020202;}
.inicio {
    position: relative;
    text-align: center;
    border-radius: 50px;
    background-color: rgb(218, 211, 211);
    margin: 10px auto;
}
#titulo {
    font-size: 50px;
    font-family: Roboto;
    text-decoration: underline;
    color: #020202;
    text-align: center;
    padding: 20px;
    color : #949103;
}
#titulo2 {
    text-align: center;
    font-size: 30px;
    font-family: Roboto;
    padding: 20px;
    color : #080808;
}